/*Controls*/
.controls { 
	display: inline-block;
	background: #fafafa;
	margin-left: 10px; 
	padding: 15px; 
	height: 200px 
}


/* General styles for all menus */
.cbp-spmenu {
	/*background: #47a3da;*/
	position: fixed;
}

/* General Demo Style */
.main > section {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -701px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

